.register-page{
    width: 50%;
    min-width: 350px;
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    text-align: center;
}

.alert {
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    width: 300px;
}

.register-page h1{
    font-size: 2.5rem;
}

.form-icon {
  text-align: center;
  background: rgb(41, 38, 77);
  background: linear-gradient(
    90deg,
    rgba(41, 38, 77, 1) 0%,
    rgba(9, 9, 121, 1) 38%,
    rgba(0, 150, 180, 1) 100%
  );
  border-radius: 50%;
  font-size: 40px;
  color: white;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 20px;
  line-height: 100px;
}

.register-form{
    display: flex;
    flex-direction: column;
}

.register-form input{
    margin-top: 2rem;
    height:2.5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    font-size: 1.2rem;
}

.register-form input:focus{
    outline:none;
}

.register-page .btn{
    background-color: rgb(15, 15, 207);
    color: white;
    font-size: 1.2rem;
    border-radius:1rem;
    height:2.5rem;
    margin-top: 2.5rem;
}

.register-page .btn:hover{
    background-color: rgb(0, 0, 90);
}

.register-page span{
    font-size: 1rem;
    margin-top: 2rem;
}

.register-page a{
    cursor: pointer;
    color: rgb(15, 15, 207);
}