.register-page{
    width: 50%;
    min-width: 350px;
    margin: auto;
    padding: 2rem;
    border-radius: 1rem;
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.075);
    text-align: center;
}

.register-page h1{
    font-size: 2.5rem;
}

.form-icon {
  text-align: center;
  background: black;
  border-radius: 50%;
  font-size: 40px;
  color: white;
  width: 100px;
  height: 100px;
  margin: auto;
  margin-bottom: 20px;
  line-height: 100px;
}

.register-form{
    display: flex;
    flex-direction: column;
}

.register-form input{
    margin-top: 2rem;
    height:2.5rem;
    border: 1px solid rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
    font-size: 1.2rem;
}

.register-form input:focus{
    outline:none;
}

.register-page .btn{
    background: white;
    color: black;
    font-size: 1.2rem;
    border-radius:1rem;
    border: 1px solid black;
    height:2.5rem;
    margin-top: 2.5rem;
}

.register-page .btn:hover{
    background: black;
    color: white;
}

.register-page span{
    font-size: 1rem;
    margin-top: 2rem;
}

.register-page a{
    cursor: pointer;
    color: rgb(15, 15, 207);
}